Q1. How do you comment code in Python? What are the different types of comments?

# Single line 
"""
**********************
Multi line comments
********************** 
"""

Q2. What are variables in Python? How do you declare and assign values to variables?

In [3]:
a=10
b="Assignment 2"
c=23.90
print(a,b,c)

10 Assignment 2 23.9

Q3. How do you convert one data type to another in Python?

In [5]:
a=10
type(a)

int

In [8]:
float(a)
a="abc"
type(a)

str

In [10]:
a=45
type(a)

int

Q4. How do you write and execute a Python script from the command line?

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [12]:
my_list=[1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [14]:
my_list[1:3]

[2, 3]

In [17]:
my_list[-4:-2]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [19]:
#a->real part 2j ->imaginary part
4+2j

(4+2j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [21]:
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [22]:
#float
price =9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [23]:
name="Manjula S"
print(name)
type(name)

Manjula S

str

Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
string1 = "Hello, World!"
string1[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student =false